<a href="https://colab.research.google.com/github/jo-soobin/python-study/blob/main/day5%266.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def user_input(city,*args):
  city = input('도시를 입력하세요')
  return city

In [ ]:
def user_output(*args):
  num = city[:3]
  return num

In [ ]:
def main(name , *args):
  print('값을 입력하세요')
  user_input(*args)
  user_output(*args)

In [ ]:
kor = [49, 80, 20, 100, 80]
mat = [43, 60, 85, 30, 90]
eng = [49, 82, 48, 50, 100]

exam = [kor, mat, eng]
exam_mean = []
for i in range(5):
  sum = 0
  for j in range(3):
    sum += exam[j][i]
  avg = sum//3
  exam_mean.append(avg)
print(exam_mean)

[47, 74, 51, 60, 90]

# 가위바위보 게임
- 총 10게임 
- 다음과 같이 결과 출력되도록 만들어 보세요
- 결과는 항상 달라야 합니다.
- 단 잘못내는 경우는 패로 기록됨

- 가위바위보를 항상 다르게 뽑는 방법은?
  - 리스트에 10개를 넣어서 랜덤으로 뽑던가
  - 랜덤으로 뽑아서 리스트에 10개를 넣던가

```
가위,바위,보: 가위
이겼다
가위,바위,보: 가위
비겼습니다.
가위,바위,보: 보
비겼습니다.
가위,바위,보: 가위
비겼습니다.
가위,바위,보: 바위
이겼다
가위,바위,보: 보
이겼다
가위,바위,보: 가위
이겼다
가위,바위,보: 바위
졌다
가위,바위,보: 모
잘못내셨습니다.
가위,바위,보: 보
비겼습니다.
승:4
패:2
비김:4
```

In [ ]:
list_1 = ["가위", "바위", "보", "가위", "바위", "보", "가위", "바위", "보", "가위", "바위"]

- 가위 바위 보

ver0
- 가위 userinput
  - 가위 : 비겼다.
  - 바위 : 졌다. 
  - 보 : 이겼다.
- 바위
  - 가위 : 이겼다. 
  - 바위 : 비겼다. 
  - 보 : 졌다. 
- 보
  - 가위 : 졌다. 
  - 바위 : 이겼다.
  - 보 : 비겼다. 

ver1
- if srp == user_input
  - 비겼다. 
- else
  - 가위 userinput
    - 바위 : 졌다. 
    - 보 : 이겼다.
  - 바위
    - 가위 : 이겼다. 
    - 보 : 졌다. 
  - 보
    - 가위 : 졌다. 
    - 바위 : 이겼다.


ver2
- if srp == user_input
  - 비겼다. 

- elif (userinput == 가위 and srp == 보)or(userinput == 바위 and srp == 가위)or(userinput == 보 and srp == 바위)
  - 이겼다. 

- else: 
  - print("")

In [ ]:
list_1 = ["가위", "바위", "보", "가위", "바위", "보", "가위", "바위", "보", "가위", "바위"] 
for srp in list_1:
  user_input  = input("가위 바위 보 : ")
  if srp == user_input:
    print("비겼습니다.")
  else:
    if user_input == "가위":
      if srp == "바위":
        print("졌다.")
      else:
        print("이겼다.")

    elif user_input == "바위":
      if srp == "보":
        print("졌다.")
      else:
        print("이겼다.")

    elif user_input == "보":
      if srp == "가위":
        print("졌다.")
      else:
        print("이겼다.")

    else:
      print("잘못내셨습니다.")

가위 바위 보 : 가위
비겼습니다.
가위 바위 보 : 바위
비겼습니다.
가위 바위 보 : 보
비겼습니다.
가위 바위 보 : 바위
이겼다.
가위 바위 보 : 보
이겼다.
가위 바위 보 : 가위
이겼다.
가위 바위 보 : 보
졌다.
가위 바위 보 : 가위
졌다.
가위 바위 보 : 바위
졌다.
가위 바위 보 : 가위
비겼습니다.
가위 바위 보 : 가위
졌다.

In [ ]:
# 승무패 해결
# - 승무패를 계산할수 있는 변수를 만들고 0으로 초기화 시킨다.

In [ ]:
a = 0
for i in range(10):
  a += 1

In [ ]:
a

10

In [ ]:
list_1 = ["가위", "바위", "보", "가위", "바위", "보", "가위", "바위", "보", "가위", "바위"] 
win = 0 
lose = 0 
draw = 0 
for srp in list_1:
  user_input  = input("가위 바위 보 : ")
  if srp == user_input:
    print("비겼습니다.")
    draw += 1
  else:
    if user_input == "가위":
      if srp == "바위":
        print("졌다.")
        lose += 1
      else:
        print("이겼다.")
        win += 1

    elif user_input == "바위":
      if srp == "보":
        print("졌다.")
        lose += 1
      else:
        print("이겼다.")
        win += 1

    elif user_input == "보":
      if srp == "가위":
        print("졌다.")
        lose += 1
      else:
        print("이겼다.")
        win += 1
    else:
      print("잘못내셨습니다.")
      lose += 1

print(f"""
win : {win} 번 승리
lose : {lose} 번 패배
draw : {draw} 번 비김
""")

가위 바위 보 : 가위
비겼습니다.
가위 바위 보 : 가위
졌다.
가위 바위 보 : 가위
이겼다.
가위 바위 보 : 가위
비겼습니다.
가위 바위 보 : 바위
비겼습니다.
가위 바위 보 : 바위
졌다.
가위 바위 보 : 바위
이겼다.
가위 바위 보 : 민어ㅏㅣㅁ너
잘못내셨습니다.
가위 바위 보 : ㅁㄴ이ㅏㅓㅇ나ㅣㅓㅇㅁ
잘못내셨습니다.
가위 바위 보 : qh
잘못내셨습니다.
가위 바위 보 : 보
이겼다.

win : 3 번 승리
lose : 5 번 패배
draw : 3 번 비김

In [ ]:
import random
list_1 = ["가위", "바위", "보"] 
random.choice(list_1)

'가위'

In [ ]:
# 방법 1
srps = []
for i in range(10):
  srps.append(random.choice(list_1))

In [ ]:
srps

['바위', '바위', '바위', '가위', '바위', '바위', '가위', '보', '가위', '가위']

In [ ]:
# 방법2
srps2 = [random.choice(list_1) for i in range(10)]

In [ ]:
srps2

['가위', '가위', '가위', '보', '가위', '보', '바위', '보', '바위', '가위']

In [ ]:
win = 0 
lose = 0 
draw = 0 
for srp in srps:
  user_input  = input("가위 바위 보 : ")
  if srp == user_input:
    print("비겼습니다.")
    draw += 1
  else:
    if user_input == "가위":
      if srp == "바위":
        print("졌다.")
        lose += 1
      else:
        print("이겼다.")
        win += 1

    elif user_input == "바위":
      if srp == "보":
        print("졌다.")
        lose += 1
      else:
        print("이겼다.")
        win += 1

    elif user_input == "보":
      if srp == "가위":
        print("졌다.")
        lose += 1
      else:
        print("이겼다.")
        win += 1
    else:
      print("잘못내셨습니다.")
      lose += 1

print(f"""
win : {win} 번 승리
lose : {lose} 번 패배
draw : {draw} 번 비김
""")

가위 바위 보 : 가위
이겼다.
가위 바위 보 : 가위
졌다.
가위 바위 보 : 가위
졌다.
가위 바위 보 : 가위
이겼다.
가위 바위 보 : 가위
비겼습니다.
가위 바위 보 : 가위
졌다.
가위 바위 보 : 가위
비겼습니다.
가위 바위 보 : 가위
비겼습니다.
가위 바위 보 : 가위
졌다.
가위 바위 보 : 위
잘못내셨습니다.

win : 2 번 승리
lose : 5 번 패배
draw : 3 번 비김

In [ ]:
for i in range(10):
  if i is 5:
    print(5)

5

In [ ]:
num = ""
num = str(1) + num
num = str(3) + num
print(num)

31

In [ ]:
num = ""
num = num + str(1)
num = num + str(3)
print(num)

13

In [ ]:
str_1 = ""
str_1 = "hello" + str_1
str_1 = "world" + str_1
print(str_1)

worldhello

In [ ]:
str_1 = ""
str_1 = str_1 + "hello"
str_1 = str_1 + "world"
print(str_1)

helloworld

In [ ]:
str_1 = "hello" + "world"

In [ ]:
str_1 = "hi" + str_1

In [ ]:
str_1

'hihelloworld'

In [ ]:
def work_status(task, worker, day):
  rest_task = task
  for k in range(day):
    if rest_task > 0:
      rest_task = rest_task = worker
    elif rest_task <= 0:
      print("Task end")
  if rest_task > 0:
    print("Hire more workers")

In [ ]:
len([1,2])

2

In [ ]:
coupon = 0 
money = 200000
coffee = 3500

while money > coffee:
  if coupon < 4:
    money = money - coffee
    coupon += 1
  else:
    money += 2800
    coupon = 0 

print(money)

2600

In [ ]:
"693".count("3")

1

In [ ]:
"693".count("0")

0

In [ ]:
"693".count("6")

1

In [ ]:
"663".count("6")

2

In [ ]:
"693".find("a")

-1

In [ ]:
# 꼭 해볼것
# 숫자 야구에서는 중복된 숫자는 넣지 않는다. 

# a = "369"
# b = "693"
## 1s 3b

# a = "690"
# b = "693"
## 2s 0b

a = "630"
b = "693"

strike = 0
ball = 0 

for number in a:
  if b.count(number) == 1:
    # 숫자는 중복되게 입력 불가 >0 도 가능
    if b.find(number) == a.find(number):
      # 인덱스가 같아야 strike
      strike += 1
    else:
      ball += 1

print(f"strike: {strike}, ball:{ball}")

strike: 1, ball:1

In [ ]:
# ball 이 제대로 카운트가 되고 있지 않다.

```
n! = 1 * 2 * 3 * 4 * 5 * 8 * ... * n
3! = 3 * 2 * 1 = 6
5! = 5 * 4 * 3 * 2 * 1 = 120

∑(N) = 1 + 2 + 3 + 4 + ... + N
∑(3) = 6
∑(10) = 55 

1번
4번째줄 N -> N+1
8번째줄 N -> N+1

2번
apple

3번
i = int(i) : i 를 정수를 바꿔줌
int 를 사용한다고 해서 num의 객체 정보가 변하지는 않는다
["12", "34", "56"]

num = ["12", "34", "56"]
num_1 = []
# 방법1
for i in num:
   i = int(i)
   num_1.append(i)

# 방법2
[int(i) for i in num]

4번
[3, 4.0]

5번
num = 0
i =1

while 진입

if 통과
i =1+1
num = 2

if 통과
i =2 + 1
num = 2 + 3 =5

if break
num 출력 

5

6번
result = 0
[5, 3, 1, -1, -3] >= -3
5일때 result -1
3일때 result -1
1일때 result -1
-1일때 result -1
-3일때 result -1

result = -5

7번
apple

8번
continue : 반복문 상위로 올라가 다시 동작
break : 반복문 중지

i = 1
i is not 5
fv = 0

i = 2
i is not 5
fv = 0
...
i = 4
i is not 5
fv = 0

i = 5
continue 다시 위로 

i = 6
sv = 0
...
i = 9
sv = 0

i = 10
break


정답 : 0


9번
num = ""
i = 0
5보다 작다 and 0%2=0  continue
i = 2
5보다 작다 and 0%2=0  continue
i = 4
5보다 작다 and 0%2=0  continu
i = 7
continue

정답
986531


10번
tesk = 100
worker = 11
day = 10

rest_task = 100
100 - 11*9 = 1
1 - 11 = -10 

work_status(100,11,10) 인경우
-10 일때 if 문이 종료되고 elif 들어가지 않는다
따라서 아무값도 출력되지 않는다. 

work_status(100,1,10) 인경우
Hire more workers

work_status(100,9,10) 인경우
Hire more workers

work_status(100,10,10) 인경우
rest_task = 0 인 값으로 반복문을 빠져 나오므로 아무것도 출력되지 않는다. 


11번
0,2,4 번째 인덱스만 더한다
45

12번
쿠폰이 4개가 되면 쿠폰이 초기화 되고
2800원을 돌려준다.

정답: 2600

13번
원래 : 0 스트라이크 3볼
- count 문자열에서 같은 문자가 몇개 있는지 세어주는 함수
- find 문자열에서 해당 문자가 어느 index에 있는지 확인해주는 함수이다. 

14번 
2번

15번
1번

```

In [ ]:
a = 1010 #10진법

In [ ]:
a = "1010"

In [ ]:
dec = 10

r_1 = dec%2
q_1 = dec//2 

r_2 = q_1%2
q_2 = q_1//2

r_3 = q_2%2
q_3 = q_2//2

...
r_n = q_2%2
q_n = q_2//2

q_n 이 1이 될때 까지 반복한다.

In [ ]:
dec = 10
result = ""
while True:
  rem = dec % 2
  dec = dec // 2
  result = str(rem) + result
  if dec == 1:
    result = str(rem) + result
    break

print(result)

0010

In [ ]:
print(result)

011

In [ ]:
10 // 2

5

In [ ]:
5 //2

2

In [ ]:
2 //2

1

In [ ]:
1 // 2

0

In [ ]:
0 //2

0

In [ ]:
def triangle_area(height,bottom):
  area= (height * bottom)/2
  return area

In [ ]:
height = int(input('높이를 입력하세요: '))
bottom = int(input('밑변 길이를 입력하세요: '))
triangle_area(height, bottom)
print(f'삼각형의 높이:{height}')
print(f'삼각형의 밑면:{bottom}')
print(f'삼각형의 넓이: {(height*bottom)/2}')

높이를 입력하세요: 7
밑변 길이를 입력하세요: 8
삼각형의 높이:7
삼각형의 밑면:8
삼각형의 넓이: 28.0

In [ ]:
def myavg(num1, num2):
  avg = (num1+num2)/2
  return avg

In [ ]:
num1 = int(input('input number1: '))
num2 = int(input('input number2: '))
myavg(num1,num2)

input number1: 4
input number2: 6

5.0

In [ ]:
def and_fun(bool1, bool2):
  if bool1 * bool2 == 1:
    return 1
  else:
    return 0

In [ ]:
bool1 = int(input('input 0 or 1: '))
bool2 = int(input('input 0 or 1: '))
and_fun(bool1, bool2)

input 0 or 1: 0
input 0 or 1: 1

0

In [ ]:
def or_fun(bool1, bool2):
  if bool1 + bool2 == 0:
    return 0
  else:
    return 1

In [ ]:
bool1 = int(input('input 0 or 1: '))
bool2 = int(input('input 0 or 1: '))
or_fun(bool1, bool2)

input 0 or 1: 1
input 0 or 1: 0

1

In [ ]:
def xor_fun(bool1, bool2):
  if bool1 != bool2:
    return 1
  else:
    return 0

In [ ]:
bool1 = int(input('input 0 or 1: '))
bool2 = int(input('input 0 or 1: '))
xor_fun(bool1, bool2)

input 0 or 1: 1
input 0 or 1: 0

1